.column.is-one-third
  = render partial: 'shared/errors', locals: {model: @team}
  = simple_form_for(@team) do |f|
    = f.input :name
    = f.label 'Teamlead', class: 'label'
    = f.association :teamlead, label: false
    .field.is-grouped  
      .control
        = f.button :submit, class: 'is-primary'
      .control
        = link_to 'Back', @team, class: 'button is-text'
