tr
  td 
    = team.id
    = link_to '', team, method: :delete, class: 'delete cell-inner-button', data: {confirm: 'Are you sure?'}
  td = link_to team.name, team
  td = team.teamlead.nil? ? '-' : link_to(team.teamlead.name, team.teamlead) 

