= render partial: 'shared/index_header', locals: {header: 'Teams', path: new_team_path}
= render 'search_form'
= paginate @teams
table.table.is-bordered.is-hoverable.is-striped.is-fullwidth
  thead
    tr
      th #
      th Name
      th Teamlead
  tbody
    = render partial: 'team_item', collection: @teams, as: :team
