.column.is-one-third
  .card
    header.card-header.has-background-light
      p.card-header-title.title.has-text-info Team
    .card-content
      table.table
        tbody
          tr
            td Name: 
            td.subtitle = @team.name
          tr
            td Teamlead:
            td = @team.teamlead.nil? ? '-' : link_to(@team.teamlead.name, @team.teamlead)


    footer.card-footer
      = link_to 'Edit', edit_team_path(@team.id), class: 'card-footer-item '
      = link_to 'Delete', team_path(@team.id), method: :delete, class: 'card-footer-item', data: {confirm: 'Are you sure?'}
      = link_to 'Show all', teams_path, class: 'card-footer-item'

  
