.column.is-one-third
  = render partial: 'shared/errors', locals: {model: @teamlead}
  = simple_form_for(@teamlead) do |f|
    = f.input :name
    = f.input :email
    = f.input :msisdn

    .field.is-grouped  
      .control
        = f.button :submit, class: 'is-primary'
      .control
        = link_to 'Back to profile', @teamlead, class: 'button is-text'
