.block.has-background-success.search-form
  = search_form_for @q do |f|
    .columns.is-desktop
      .column
        .field
          = f.label :name_cont, class: :label
          = f.search_field :name_cont, class: :input
      .column
        .field
          = f.label :email_cont, class: :label
          = f.search_field :email_cont, class: :input
      .column
        .field
          = f.label :msisdn_cont, class: :label
          = f.search_field :msisdn_cont, class: :input
      
      .buttons style="padding: 1rem;"
          = link_to 'Clear', teamleads_path, class: 'button is-danger'
          = f.submit 'Search', class: 'button is-link'
      