tr
  td 
    = teamlead.id
    = link_to '', teamlead, method: :delete, class: 'delete cell-inner-button', data: {confirm: 'Are you sure?'}
  td = link_to teamlead.name, teamlead
  td = mail_to teamlead.email
  td = teamlead.msisdn
