= render partial: 'shared/index_header', locals: {header: 'Teamleads', path: new_teamlead_path}
= render 'search_form'
= paginate @teamleads
table.table.is-bordered.is-hoverable.is-striped.is-fullwidth
  thead
    tr
      th #
      th Name
      th Email
      th Phone
  tbody
    = render partial: 'teamlead_item', collection: @teamleads, as: :teamlead
