.column.is-one-third
  .card
    header.card-header.has-background-light
      p.card-header-title.title.has-text-info Teamlead
    .card-content
      table.table
        tbody
          tr
            td Name: 
            td.subtitle = @teamlead.name
          tr
            td Email:
            td = mail_to @teamlead.email
          tr
            td Phone:
            td = @teamlead.msisdn

    footer.card-footer
      = link_to 'Edit', edit_teamlead_path(@teamlead.id), class: 'card-footer-item '
      = link_to 'Delete', teamlead_path(@teamlead.id), method: :delete, class: 'card-footer-item', data: {confirm: 'Are you sure?'}
      = link_to 'Show all', teamleads_path, class: 'card-footer-item'

