.column.is-one-third
  = render partial: 'shared/errors', locals: {model: @student}
  = simple_form_for(@student) do |f|
    = f.input :name
    = f.input :email
    = f.input :msisdn
    = f.label 'Group', class: 'label'
    = f.association :group, label: false
    = f.label 'Team', class: 'label'
    = f.association :team, label: false
    .control
      = f.button :submit, class: 'is-primary'
      = link_to 'Back to profile', @student, class: 'button is-text'
