table.table.is-bordered.is-hoverable.is-striped.is-fullwidth
  thead
    tr
      th #
      th Name
      th Email
      th Phone
      th Team
      th Group
  tbody
    = render partial: 'student_item', collection: @students, as: :student