tr
  td 
    = student.id
    = link_to '', student, method: :delete, class: 'delete cell-inner-button', data: {confirm: 'Are you sure?'}
  td
    = link_to student.name, student
  td = mail_to student.email
  td = student.msisdn
  td = student.team.nil? ? '-' : link_to(student.team.name, student.team)
  td = student.group.nil? ? '-' : link_to(student.group.name, student.group)
