.column.is-one-third
  .card
    header.card-header.has-background-light
      p.card-header-title.title.has-text-info Student
    .card-content
      table.table
        tbody
          tr
            td Name: 
            td.subtitle = @student.name
          tr
            td Email:
            td = mail_to @student.email
          tr
            td Phone:
            td = @student.msisdn
          tr
            td Group:
            td = @student.group.nil? ? '-' : link_to(@student.group.name, @student.group)
          tr
            td Team:
            td = @student.team.nil? ? '-' : link_to(@student.team.name, @student.team)


    footer.card-footer
      = link_to 'Edit', edit_student_path(@student.id), class: 'card-footer-item '
      = link_to 'Delete', student_path(@student.id), method: :delete, class: 'card-footer-item', data: {confirm: 'Are you sure?'}
      = link_to 'Show all', students_path, class: 'card-footer-item'

