.column.is-one-third
  = render partial: 'shared/errors', locals: {model: @group}
  = simple_form_for(@group) do |f|
    = f.input :name
    = f.label 'Teacher', class: 'label'
    = f.association :teacher, label: false
    .field.is-grouped  
      .control
        = f.button :submit, class: 'is-primary'
      .control
        = link_to 'Back', @group, class: 'button is-text'
