tr
  td 
    = group.id
    = link_to '', group, method: :delete, class: 'delete cell-inner-button', data: {confirm: 'Are you sure?'}
  td = link_to group.name, group
  td = group.teacher.nil? ? '-' : link_to(group.teacher.name, group.teacher)
