.block.has-background-success.search-form
  = search_form_for @q do |f|
    .columns.is-desktop
      .column
        .field
          = f.label :name_cont, class: :label
          = f.search_field :name_cont, class: :input
      .column
        .field
          = f.label :teacher_id_eq, class: :label
          .select
            = f.collection_select :teacher_id_eq, @teachers, "id", "name", {prompt: 'Select teacher'}
      
      .buttons style="padding: 1rem;"
          = link_to 'Clear', groups_path, class: 'button is-danger'
          = f.submit 'Search', class: 'button is-link'
      