= render partial: 'shared/index_header', locals: {header: 'Groups', path: new_group_path}
= render 'search_form'
= paginate @groups
table.table.is-bordered.is-hoverable.is-striped.is-fullwidth
  thead
    tr
      th #
      th Name
      th Teacher
  tbody
    = render partial: 'group_item', collection: @groups, as: :group

