.column.is-one-third
  .card
    header.card-header.has-background-light
      p.card-header-title.title.has-text-info Group
    .card-content
      table.table
        tbody
          tr
            td Name: 
            td.subtitle = @group.name
          tr
            td Teacher:
            td = @group.teacher.nil? ? '-' : link_to(@group.teacher.name, @group.teacher)



    footer.card-footer
      = link_to 'Edit', edit_group_path(@group.id), class: 'card-footer-item '
      = link_to 'Delete', group_path(@group.id), method: :delete, class: 'card-footer-item', data: {confirm: 'Are you sure?'}
      = link_to 'Show all', groups_path, class: 'card-footer-item'

