.card
  .card-content.has-background-success
    .level
      .title.is-1.has-text-light = header
      div
        a.button.is-large.is-success href="#{path}"
            span.icon
              i.fas.fa-plus-circle
            span Add
      
