nav.navbar.has-background-black-ter.is-fixed-top aria-label=("main navigation") role="navigation" 
  .navbar-menu
    .navbar-start 
      = link_to 'Home', root_path, class: 'navbar-item'
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link Users
        .navbar-dropdown
          = link_to 'Students', students_path, class: 'navbar-item'
          = link_to 'Teamleads', teamleads_path, class: 'navbar-item'
          = link_to 'Teachers', teachers_path, class: 'navbar-item'
      = link_to 'Teams', teams_path, class: 'navbar-item'
      = link_to 'Groups', groups_path, class: 'navbar-item'
      = link_to 'Schools', schools_path, class: 'navbar-item'
    .navbar-end
      .navbar-item
          - if user_signed_in?
            .buttons
              a.button.is-primary
                span.icon
                  i class="fas fa-#{get_icon(current_user)}"
                = current_user.name
              = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button is-info'

              

