.column.is-one-third
  = render partial: 'shared/errors', locals: {model: user}
  = simple_form_for(user) do |f|
    = f.input :name
    = f.input :email
    = f.input :msisdn
    .field.is-grouped  
      .control
        = f.button :submit, class: 'is-primary'
      .control
        = link_to 'Back to profile', user, class: 'button is-text'
