tr
  td 
    = user.id
    = link_to '', user, method: :delete, class: 'delete cell-inner-button', data: {confirm: 'Are you sure?'}
  td
    = link_to user.name, user
  td = user.email
  td = user.msisdn
