.column.is-one-third
  = render partial: 'shared/errors', locals: {model: @teacher}
  = simple_form_for(@teacher) do |f|
    = f.input :name
    = f.input :email
    = f.input :msisdn
    = f.label 'School', class: 'label'
    = f.association :school, label: false
    .field.is-grouped  
      .control
        = f.button :submit, class: 'is-primary'
      .control
        = link_to 'Back to profile', @teacher, class: 'button is-text'
