tr
  td 
    = teacher.id
    = link_to '', teacher, method: :delete, class: 'delete cell-inner-button', data: {confirm: 'Are you sure?'}
  td
    = link_to teacher.name, teacher
  td = mail_to teacher.email
  td = teacher.msisdn
  td = teacher.school.nil? ? '-' : link_to(teacher.school.name, teacher.school)
