= render partial: 'shared/index_header', locals: {header: 'Teacher', path: new_teacher_path}
= render 'search_form'
= paginate @teachers
table.table.is-bordered.is-hoverable.is-striped.is-fullwidth
  thead
    tr
      th #
      th Name
      th Email
      th Phone
      th School
  tbody
  = render partial: 'teacher_item', collection: @teachers, as: :teacher
