.column.is-one-third
  .card
    header.card-header.has-background-light
      p.card-header-title.title.has-text-info Teacher
    .card-content
      table.table
        tbody
          tr
            td Name: 
            td.subtitle = @teacher.name
          tr
            td Email:
            td = mail_to @teacher.email
              
          tr
            td Phone:
            td = @teacher.msisdn
          tr
            td School:
            td = @teacher.school.nil? ? '-' : link_to(@teacher.school.name, @teacher.school)



    footer.card-footer
      = link_to 'Edit', edit_teacher_path(@teacher.id), class: 'card-footer-item '
      = link_to 'Delete', teacher_path(@teacher.id), method: :delete, class: 'card-footer-item', data: {confirm: 'Are you sure?'}
      = link_to 'Show all', teachers_path, class: 'card-footer-item'

