.columns.is-centered.is-vcentered
  .column.is-one-third
    .title Log in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email
      = f.input :password, required: false, input_html: { autocomplete: "current-password" }
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      = f.button :submit, "Log in", class: 'button is-link'
    = render "devise/shared/links"
