.column.is-one-third
  = render partial: 'shared/errors', locals: {model: @school}
  = simple_form_for(@school) do |f|
    = f.input :name
    = f.input :address
    .field.is-grouped  
      .control
        = f.button :submit, class: 'is-primary'
      .control
        = link_to 'Back', @school, class: 'button is-text'
