= render partial: 'shared/index_header', locals: {header: 'Schools', path: new_school_path}
= render 'search_form' 
= paginate @schools
table.table.is-bordered.is-hoverable.is-striped.is-fullwidth
  thead
    tr
      th #
      th Name
      th Address
  tbody
    = render partial: 'school_item', collection: @schools, as: :school
