.column.is-one-third
  .card
    header.card-header.has-background-light
      p.card-header-title.title.has-text-info School
    .card-content
      table.table
        tbody
          tr
            td Name: 
            td.subtitle = @school.name
          tr
            td Address: 
            td.subtitle = @school.address
          

    footer.card-footer
      = link_to 'Edit', edit_school_path(@school.id), class: 'card-footer-item '
      = link_to 'Delete', school_path(@school.id), method: :delete, class: 'card-footer-item', data: {confirm: 'Are you sure?'}
      = link_to 'Show all', schools_path, class: 'card-footer-item'

