/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$success: #badc58;
$info: #b5a6ff;
$danger: #ff7979;
$link: #6a89cc;
$black-ter: #bbdc587c;
@import "bulma";

.dotted-under {
  border-bottom: 1px dotted #000;
  text-decoration: none;
}

.cell-inner-button {
  margin-left: 1rem !important;
}

label > abbr {
  color: #d95d39;
  text-decoration: none;
}

span.icon {
  margin-right: 0.4rem !important;
}

.search-form {
  padding: 1rem;
  margin-top: 2rem;
}

.search-form label {
  color: white;
}

label.boolean {
  padding-left: 1rem;
}

nav.pagination {
  margin-bottom: 1rem;
}
