doctype html
html.has-navbar-fixed-top
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
    title SchoolsKarimov
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    - if user_signed_in?
      = render 'shared/navigation'
    section.section
      .container
        = render 'shared/flashes'
        = yield